name: testing-pr

on:
  pull_request:
    branches:
      - main
    paths:
      - 'blogs/*.md'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Installing package
        run: sudo npm install markdownlint-cli2 --global
      - name: Running Make
        run: echo running make file