name: Chkk Directory
on: push
jobs:
  kubernetes-manifests:
    runs-on: ubuntu-latest
    steps:
      - name: Run Chkk to catch reliability risks in your Kubernetes manifests
        uses: actions/checkout@v2
      - name: Chkk Action
        uses: Zee-M/actions/k8s/helm-chart@add-helm-support
        env:
          CHKK_ACCESS_TOKEN: ${{ secrets.CHKK_ACCESS_TOKEN }}
        with:
          helm-chart-path: .
          helm-version: v3
          args: --continue-on-error=true
