name: Chkk Directory
on: push
jobs:
  kubernetes-manifests:
    runs-on: ubuntu-latest
    steps:
      - name: Run Chkk to catch reliability risks in your Kubernetes manifests
        uses: actions/checkout@v2
      - name: Chkk Action
        uses: Zee-M/actions/k8s@add-helm-support
        env:
          CHKK_ACCESS_TOKEN: ${{ secrets.CHKK_ACCESS_TOKEN }}
        with:
          scan-type: 'helm'
          run-checks: CHKK-K8S-28,CHKK-K8S-74
          check-type: all
          helm-chart: '.'
          args: --show-diff=false --continue-on-error
